*~
stow/dotfiles/dot-config/nvim/plugin/
stow/dotfiles/dot-config/nvim/lazy-lock.json

stow/dotfiles/dot-fzf-launcher/snippets/dw-*
stow/dotfiles/dot-fzf-launcher/urls/dw-*

stow/dotfiles/dot-tmux/resurrect/last
