[Desktop Entry]
Name=stt
Comment=st is a simple virtual terminal emulator for X which sucks less
Exec=st -e tmux
Terminal=false
Type=Application
Icon=utilities-terminal
Categories=System;TerminalEmulator;
X-Desktop-File-Install-Version=0.22
